*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
app/src/debug/
app/src/release/
app/src/main/cpp/native-lib.cpp
app/lint/
lint/
app/mapping.txt
app/release/
app/seeds.txt
app/unused.txt

